/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 Mar 2026, 10:19:43 am
    Author     : DIVYA
*/

body{
    font-family: Arial, sans-serif;
    background: #5f8f8c;
    margin-top:120px;
    padding:0;
}

.container{
    width:500px;
    margin:60px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}


h2{
    text-align:center;
    color:#333;
}

.logout{
    float:right;
    text-decoration:none;
    color:white;
    background:#dc3545;
    padding:6px 10px;
    border-radius:5px;
}

.logout:hover{
    background:#1f4f4c;
}

h3{
    margin-top:20px;
    color:#444;
}

.record{
    padding:10px;
    margin:8px 0;
    background:#e9f5ff;
    border-left:5px solid #2196F3;
    font-size:16px;
}

.no-record{
    text-align:center;
    color:red;
}



